name: Build jar
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew shadowJar
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: AdvancedAnticheat-jar
        path: build/libs/AdvancedAnticheat-1.0-SNAPSHOT.jar
